.popup_opened {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: grid;
	grid-template-columns: minmax(29px, 1fr) minmax(262px, 430px) minmax(29px, 1fr);
	grid-template-rows: 1fr auto 1fr;
}