@media screen and (max-width: 881px) {
  .profile {
    padding-top: 38px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 882px) {
  .profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0 0 0px;
  }
}

.profile {
	max-width: 882px;
	margin: 0 auto;
	align-items: center;
	color: white;
	font-style: normal;
}