@media screen and (max-width: 921px) {
  .elements {
    padding: 36px 0px 0px 0px;
  }
}

@media screen and (min-width: 922px) {
  .elements {
    padding: 47px 0px 0px 0px;
  }
}


.elements {
	max-width: 882px;
	margin: 0 auto;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, 282px);
	justify-content: center;
	grid-column-gap: 18px;
	grid-row-gap: 21px;
}