@media screen and (max-width: 449px) {
  .popup__close {
    width: 20px;
  }
}

@media screen and (min-width: 450px) {
  .popup__close {
    width: 40.7px;
  }
}


.popup__close {
	z-index: 1;
	grid-area: 1 / 3 / 2 / 4;
	transform: rotate(45deg);
	display: flex;
	align-self: flex-end;
}
