.element__like-button {
	min-width: 21px;
	padding: 0;
	background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border: none;
  outline: none;
  background-color: #fff;
}